@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  color: #1E3A8A; /* Deep Blue */
  background-color: #F9FAFB; /* White Light */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}
